.DS_Store
/build
bin/ioke.dll
bin/ioke.dll.mdb
bin/Ioke.Lang.dll
bin/Ioke.Lang.dll.mdb
bin/Ioke.Lang.Parser.Functional.dll
bin/Ioke.Lang.Parser.Functional.dll.mdb
bin/Ioke.Math.dll
bin/Ioke.Math.dll.mdb
bin/ioke.exe
bin/ioke.exe.mdb
bin/ispec.exe
bin/ispec.exe.mdb
bin/dokgen.exe
bin/dokgen.exe.mdb
lib/ioke.jar
lib/ioke-lib.jar
prj.el
build.properties
src/ikc/generated
src/ikj/generated
spike
version_data.properties
.classpath
.project
/dok
/rels
/lib/dist
cobertura.ser
.tmtags
nbproject
\#*#
\.\#*
/maven/ikj/target
/maven/ikj-lib/target
.file_system_test_config.ik
