body { 
  padding:0; 
  margin-left: 2.6em;	
  margin-top: 1.8em;	
  margin-bottom: 1em;	
  margin-right: 1em;
  font-size: .9em;
}

body, td, p {
  color: #444;
  font-family:Arial, Verdana, Sans-Serif;
  background: #fff;
}

a[href] { 
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 1.1em;
}

a[href]:hover { 
  text-decoration: underline;
}

a.selectedMenuItem { 
  font-weight: bold;
}

a.unselectedMenuItem { 
  font-weight:normal;
}

dt, .code { 
  font-family: courier;
  color: black;
}

#menu { 
  margin-top: 2em;
  margin-left: 1.3em;
  margin-right: 1.3em;
}

table#menu tr td { 
  background: #E6EEEE;
}

#logo {
  float: left;
}

#header {
  float: left;
  color: #000;
  font-size: 2.5em;
  margin-top: 1em;
  margin-left: 4em;
}

#content { 
  margin-left: -0.2em;
  clear: both;
}

ol {
  margin-bottom: 1em;
}

.chapter { 
  margin-top: 10em;
}

.section { 
  margin-left: 1em;
  margin-top: 4em;
}

pre.code {
  display: block;
  background-color: black;
  color: white;
  font-family: courier;
  margin:.75em 0;
  border:1px dotted #ccc;
  border-width:1px 0;
  padding:5px 15px;
  overflow:auto;
  font-size:1.0em;
}
