<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ioke</string>
	<key>uuid</key>
	<string>5D8B5BC7-A504-4C49-B07B-59794FBB95AA</string>
</dict>
</plist>
